#container{
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
body{
  margin: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
  background-color: aqua;
}
body.light {
  background-color: orange;
  color: black;
}
body.dark {
  background-color: green;
  color: white;
}
button {
  font-size: 15px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 15px 18px;
  border-radius: 4px 4px;
}
 button:hover{
  color: brown;
  opacity: 0.8;
 }
