#container{
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: aquamarine;
}
=======
  background-color: blue;
}
body{
  background-color: aqua;
}
button {
  font-size: 15px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 15px 18px;
  border-radius: 4px 4px;
}
 button:hover{
  color: brown;
  opacity: 0.8;
 }
>>>>>>> 2402a109841849e1f76f5398b08e1f0637e24f2a
